#PROMETHEUS_WIREGUARD_EXPORTER_VERBOSE_ENABLED={{ verbose | default(false) }}
#PROMETHEUS_WIREGUARD_EXPORTER_PREPEND_SUDO_ENABLED=
#PROMETHEUS_WIREGUARD_EXPORTER_ADDRESS={{ address | default(0.0.0.0) }}
#PROMETHEUS_WIREGUARD_EXPORTER_PORT={{ port | default(false) }}
#PROMETHEUS_WIREGUARD_EXPORTER_CONFIG_FILE_NAMES=
#PROMETHEUS_WIREGUARD_EXPORTER_SEPARATE_ALLOWED_IPS_ENABLED=
#PROMETHEUS_WIREGUARD_EXPORTER_EXPORT_REMOTE_IP_AND_PORT_ENABLED=
#PROMETHEUS_WIREGUARD_EXPORTER_INTERFACES=
#EXPORT_LATEST_HANDSHAKE_DELA=
